#!/usr/bin/python

import ast
import json
import requests

jmx_url = "http://{{ inventory_hostname }}:50070/jmx?qry=Hadoop:service=NameNode,name=NameNodeInfo"

warn_threshold = 90
crit_threshold = 99

req = requests.get(jmx_url)

node_usage = ast.literal_eval(req.json()['beans'][0]['NodeUsage'])
live_nodes = ast.literal_eval(req.json()['beans'][0]['LiveNodes'])

high_usage = {}

for datanode in live_nodes:
    blockPoolUsedPercent = ("%.2f" % live_nodes[datanode]['blockPoolUsedPercent'])
    if float(blockPoolUsedPercent) >= warn_threshold:
        high_usage[datanode] = "{0}%".format(blockPoolUsedPercent)

max_value = float(node_usage['nodeUsage']['max'].strip('%'))

if max_value >= crit_threshold:
    print "CRIT. nodeUsage: {0}, highUsage: {1}".format(node_usage['nodeUsage'],high_usage)
    exit(2)
elif max_value >= warn_threshold:
    print "WARN. nodeUsage: {0}, highUsage: {1}".format(node_usage['nodeUsage'],high_usage)
    exit(1)
else:
    print "OK. nodeUsage: {0}".format(node_usage['nodeUsage'])
    exit(0)
